@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = "Deletar";
}
<h1>@ViewData["Title"]</h1>


<div class="alert alert-info" role="alert">
    <h1>Computador @Model.Id deletado com sucesso!</h1>
</div>